.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex:1;
}

.search {
	justify-self: center;
}
.icon {

	width: 60px;
  height: 50px;
  justify-self: flex-start;
}

.icon:hover {
	opacity: 0.3;
}

nav {
	margin-left: auto;
	margin-right: 15px;
}
